{% extends 'layout_admin.html.twig' %}

{% block body %}

    <section>

        <h2>Coordonnées</h2>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="quote">

                        <!-- Ici devra s'afficher les coordonnées -->
                        <p>Téléphone :</br>
                            {{ coordonnees.phone }}</p>
                        <p>Adresse : </br>
                            {{ coordonnees.adress}}</p>
                        <p> Horaires :</br>
                            {{ coordonnees.opening }}</p>
                        <!-- End -->
                </div>
                <p class="item-actions">
                    <!-- Lien vers la page d'édition, ce dernier doit avoir une indication dans l'url  -->
                    <a href="index.php?page=edit_contact" class="btn btn-primary" role="button">Editer</a>
                </p>
            </div>
        </div>

    </section>

    <section>

        <h2>Home</h2>

        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="quote">
                    <!-- Ici devra le texte de la home -->
                    <p>{{ information_home.home }}</p>
                </div>
                <p class="item-actions">
                    <!-- Lien vers la page d'édition, ce dernier doit avoir une indication dans l'url  -->
                    <a href="index.php?page=edithome_admin" class="btn btn-primary" role="button">Editer</a>
                </p>
            </div>
        </div>

    </section>

    <section>

    <h2>Concept</h2>

    <div class="col-sm-12">
        <div class="thumbnail">
            <div class="quote">
                <!-- Ici devra le texte de concept -->
                <p>{{ information_concept.concept }}</p>
            </div>
            <p class="item-actions">
                <!-- Lien vers la page d'édition, ce dernier doit avoir une indication dans l'url  -->
                <a href="index.php?page=edit_concept" class="btn btn-primary" role="button">Editer</a>
            </p>
        </div>
    </div>

    </section>


    <section>

            <h2>Liste des Masterpieces</h2>

            <table id="rounded-corner">

                <thead>
                <tr>
                    <th scope="col" class="rounded">Titre</th>
                    <th scope="col" class="rounded">Image</th>
                    <th scope="col" class="rounded">Description</th>
                    <th scope="col" class="rounded-q4">Editer</th>
                    <th scope="col" class="rounded-q4">Supprimer</th>
                </tr>
                </thead>

                <tbody>
                    {% for master in masterpiece %}
                <tr>
                    <td>{{ master.title }}</td>
                    <td><img class="img_masterpiece" src="{{ master.image }}"></td>
                    <td>{{ master.content }}</td>
                    
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="index.php?page=delete_masterpiece&id={{ master.id }}" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>

                </tr>

                    {% endfor %}

                </tbody>

                <a href="index.php?page=add_masterpiece" class="btn btn-primary" role="button"> Ajouter une nouvelle masterpiece</a>

            </table>

    </section>


    <section>

        <div class="container">
            <h2>Liste des adresses du Brick Tour</h2>
            <a href="#.php?" class="btn btn-primary" role="button"> Ajouter une nouvelle adresse</a>

            <table id="rounded-corner">
                <thead>
                <tr>

                    <th scope="col" class="rounded">Nom</th>
                    <th scope="col" class="rounded">Adresse</th>
                    <th scope="col" class="rounded">Latitude</th>
                    <th scope="col" class="rounded">Longitude</th>
                    <th scope="col" class="rounded">Editer</th>
                    <th scope="col" class="rounded-q4">Supprimer</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><img src="../public/assets/pictures/admin/user_edit.png" alt="" title="" border="0" /></a></td>
                    <td><a href="#" class="ask"><img src="../public/assets/pictures/admin/trash.png" alt="" title="" border="0" /></a></td>
                </tr>

                </tbody>
            </table>
    </section>

{% endblock %}