{% extends 'layout.html.twig' %}

{% block body %}

    <!-- CONTAINER -->

    <section class="concept_about">
        <div class="container">
            <h2 class="section_title">Le Concept de Brick The Art</h2>
            <p>{{ information.concept }}</p>
        </div>
    </section>


    <section class="concept_news">
        <div class="container">
            <h2 class="section_title">Articles</h2>

             {% for master in masterpiece %}


                    <div class="concept col-md-6 col-xs-12">

                        <h3  id="{{ master.title }}" class="article_title">{{ master.title }}</h3>

                        <figure>
                            <img class="concept_img" src="uploads/{{ master.image }}" alt="{{ master.title }}"/>
                        </figure>

                        <p>{{ master.content }}</p>

                        </div>

             {% endfor %}
        </div>
    </section>

{% endblock %}