{% extends 'layout.html.twig' %}

{% import 'form.twig' as form %}

{% block content %}

    <h1>Nous contacter</h1>

    <p>Posez-nous toutes vos questions et donnez-nous des idées pour nos prochaines créations !</p>

    <form action="?id=contact" method="post">
        {% if  %}
            {{ form.input('firstname', 'Votre prénom') }}


            {{ form.input('lastname', 'Votre nom de famille') }}
            {{ form.input('email', 'Votre email') }}
            {{ form.input('city', 'Votre ville ou votre code postal') }}
            {{ form.input('message', 'Votre message') }}

        {%  %}
    </form>


{% endblock %}