{% extends 'layout.html.twig' %}

{% import 'user/form.html.twig' as form %}

{% block body %}
    <div class="container container_contact">
        <div class="row row_contact">
            <div class="col-md-offset-3 col-md-6 col_duration_hours">
                <h2 class="section_title">Adresse et horaires</h2>

                <p><span>Téléphone :</span></br>
                    {{ coordonnees.phone }}</p>
                <p><span>Adresse :</span></br>
                    {{ coordonnees.adress}}</p>
                <p><span>Horaires :</span></br>
                    {{ coordonnees.opening }}</p>

            </div>
        </div>
    </div>

    <div class="container container_contact">
        <div class="row row_contact">
            <div class="col-md-offset-3 col-md-6 col_contact">
                <h2 class="section_title">Nous contacter</h2>

                <p>Posez-nous toutes vos questions et donnez-nous des idées pour nos prochaines créations !</p>

                <form action="index.php?page=send" method="post">

                        {{ form.input('firstname', 'Votre prénom', 'text', '51') }}
                        {% if errors.firstname is defined %} {{ errors.firstname }} {% endif %}
                        {{ form.input('lastname', 'Votre nom de famille', 'text', '51') }}
                        {% if errors.lastname is defined %} {{ errors.lastname }} {% endif %}
                        {{ form.input('email', 'Votre email', 'email', '51') }}
                        {% if errors.email is defined %} {{ errors.email }} {% endif %}
                        {{ form.input('city', 'Votre ville ou votre code postal', 'text', '51') }}
                        {% if errors.city is defined %} {{ errors.city }} {% endif %}
                        {{ form.input('message', 'Votre message', 'text', '300') }}
                        {% if errors.message is defined %} {{ errors.message }} {% endif %}
                     <button type="submit" class="btn btn-info">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}